/*.MenuBar{
	background: #EEEEEE;
	width: 180px;
	overflow: hidden;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
	float: left;  

}*/

.Main{
	/*position: absolute;
	//display: flex;
	//left: 200px;
	//width :70%;
	//float: right;
	//flex: 1 0 auto;*/
    align-items: center;
    box-sizing: border-box;
    background: #DDFFDD;
    margin-left: 2.5%;
    width :75%;

}
.MenuBar {
    float: left;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    /*top: -1200px;
    height: 1800px;*/
    top: 0px;
    height :100%;
    width: 20%;
    
    color: #000;
    background: #EEEEEE;
}
.ContentWrapper{
	display: flex;
}

.MenuBar .Dir_0{
    background: #FFEEEE;
}

.MenuBar .Dir_1{
    background: #EEFFEE;
}

.MenuBar .Dir_2{
    background: #EEEEFF;
}

.MenuBar .File_0{
    background: #FFDDDD;
}

.MenuBar .File_1{
    background: #DDFFDD;
}

.MenuBar .File_2{
    background: #DDDDFF;
}