/*.MenuBar{
	background: #EEEEEE;
	width: 180px;
	overflow: hidden;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
	float: left;  

}*/

.Main{
	/*position: absolute;
	//display: flex;
	//left: 200px;
	//width :70%;
	//float: right;
	//flex: 1 0 auto;*/
    align-items: center;
    box-sizing: border-box;
    background: #DDFFDD;
    margin-left: 2.5%;
    width :75%;

}
.MenuBar {
    float: left;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    /*top: -1200px;
    height: 1800px;*/
    top: 0px;
    height :100%;
    width: 20%;
    padding-right: 10px;
    
    color: #000;
    background: #EEEEEE;
}

.MenuBar a:visited{
    color: purple;
}

.MenuBar a:hover{
    color: white;
    background: #3333AA;
}

.ContentWrapper{
	display: flex;
}

.MenuBar .Dir_1{
    background: #FFEEEE;
    position: relative;
    left: 0px;
}

.MenuBar .Dir_2{
    background: #EEFFEE;
    position: relative;
    left: 10px;
}

.MenuBar .Dir_3{
    background: #EEEEFF;
    position: relative;
    left: 20px;
}

.MenuBar .File_1{
    background: #FFDDDD;
    position: relative;
    left: 5px;
}

.MenuBar .File_2{
    background: #DDFFDD;
    position: relative;
    left: 15px;
}

.MenuBar .File_3{
    background: #DDDDFF;
    position: relative;
    left: 25px;
}

.EditButton{
    float: right;
    cursor: pointer;
    cursor: hand;
}

.EditButton img{
    width:40px;
}