@charset "utf-8";

/*
    作成されたHTMLに適用されるcssファイル
    仕様は未定
*/

.Contents red{
    color: red;
}

.Contents green{
    color: green;
}

.Contents blue{
    color: blue;
}

.Contents orange{
    color: orange;
}

.Contents purple{
    color: purple;
}

.Contents cyan{
    color: cyan;
}

.Contents large{
    font-size: 150%;
}
.Contents X-large{
    font-size: 200%;
}
.Contents Small{
    font-size: 75%;
}
.Contents X-Small{
    font-size: 50%;
}

.Contents PageTitle{
    font-size: 200%;
    font-weight: bold;
    background-image: url("tile.gif");
}

.Contents h1{
    background: no-repeat url("宮地鳥さん.png");
    width: auto;
    padding-left: 30px;
    padding-bottom: 10px;
    display:inline;
}

.Contents h2{
    display:inline;
    padding-bottom: 5px;
}

.Contents h3{
    display:inline;
    padding-bottom: 5px;
}

.Contents Box_red{
    display: block;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
    left: 5px;

    background: #FFCCCC;
}

.Contents Box_green{
    display: block;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
    left: 5px;

    background: #CCFFCC;
}

.Contents Box{
    display: block;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
    left: 5px;

}


.Contents Box_blue{
    display: block;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
    left: 5px;

    background: #CCCCFF;
}

.Contents Right{
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    
    float: right;
}

.Comtents Center{
    display: block;
    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
}
