@charset "utf-8";

*{
    font-family: Meiryo;
    
    margin: 0;
    padding: 0;
}

#liveeditor{
    margin: 10px;
}

.bottomspace{
    margin-bottom: 20px;
}


.editor{
    float: bottom;
    width: 100%;
    
    text-align: center;
    
}
#EditorMain{
    height: 55%;
    overflow-y: scroll;
}

.preview{
    float: top;
    width: 100%;
    
    background-color: DDDDDD;
    
    
}
#livepreview{
    overflow-y: scroll;
    height: 35%;
}

.procedure{
    background-color: white;
    min-height: 100%;
    clear: both;
    text-align: center;
}

.livepreview{
    text-align: left;
}

.button{
    border: 1px solid plum;
    color: black;
    line-height: 50px;
    width: 300px;
    margin: 20px;
    background-color: aliceblue;
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}

.button:hover{
    border: 1px solid mediumpurple;
    color: white;
    transition: 0.3s;
    background-color: mediumpurple;
}

.footer{
    font-size:6px;
    font-weight: 100;
    position: fixed;
    color: white;
    background-color: #444444;
    width: 100%;
    padding: 5px 10px 5px 10px;
    bottom: 0;
}

#Preview_Title{
    text-align: center;
}

#drop_zone {
    
    width: 50%;
    margin-left: 25%;
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: rgb(100, 100, 100);
}

.thumb{
    height: 100px;

}